<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>744583633793-f3b3j69lh8b89ripopslig9326hj0k98.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.744583633793-f3b3j69lh8b89ripopslig9326hj0k98</string>
	<key>API_KEY</key>
	<string>AIzaSyCvNIu-WXAnHa88kVRpKD5gVwasiUJ965U</string>
	<key>GCM_SENDER_ID</key>
	<string>744583633793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.armstrong.GoingVegan</string>
	<key>PROJECT_ID</key>
	<string>goingvegan-a8777</string>
	<key>STORAGE_BUCKET</key>
	<string>goingvegan-a8777.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:744583633793:ios:8746a7cc71f567594ce680</string>
</dict>
</plist>